:root{
    --primary-color: #FED001;
}

html{
    font: 400 62.5% 'Inter', sans-serif;
}

p{
    font-size: 1.6rem;
}

.wrapper-dark{
    background-color: #2A2A2A;
}

.wrapper-light{
    background-color: #fafafa;
}